/* App.css */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #ffebee; /* Soft pink background for a gentle, inviting ambiance */
}
/* App.css */
.romantic-text {
  font-family: 'Alex Brush', cursive;
}
